.el-radio {
  margin-left: 15px;
}

.el-row {
  margin-left: 17px;
}

.applicant-details__back {
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: -10px;
}

.applicant-details__back_image {
  width: 22px;
  display: inline-block;
}

.applicant-details__back_text {
  margin-top: 0px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  margin-left: 2px;
  font-weight: 300;
  text-transform: uppercase;
}

.applicant-details {
  margin-left: 0;
  margin-top: 0;
  background: #F2F6FC;
}

.applicant--details__insurance {
  float: right;
  padding-right: 10px;
}

.applicant-details__profile {
  width: 25%;
  padding-right: 0px;
  display: inline-block;
  float: left;
  background: #F2F6FC;
  padding-top: 1em;
}

.applicant-details__profile_image {
  width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 300px;
  margin-bottom: 15px;
}

.applicant-details__data {
  width: 75%;
  display: inline-block;
  height: auto;
  background: #ffffff;
  padding-top: 1em;
}

.applicant-details__profile_label {
  font-weight: 500;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.applicant-details__profile_value {
  font-weight: 300;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.el-card.applicant-details__profile__personal-details {
  overflow: hidden;
  background-color: inherit;
  box-shadow: none;
  border: none;
}

.el-card.applicant-details__submit-review {
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #f2f6fc;
  box-shadow: none;
  border: none;
}

.applicant-details__submit-review>.el-card__header {
  text-transform: none;
  border: none;
  font-weight: 700 !important;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #303133;
  padding: 18px 0px;
}

.applicant-details__submit-review>.el-card__body {
  padding: 0;
}

.el-collapse {
  border: none !important;
}

.el-collapse-item__header {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  border: none !important;
}

.inconsistent-collapse {
  border: 1px solid #f17e3a !important;
}

.el-collapse-item is-active {
  margin-bottom: 20px;
  border: 1px solid #d1dbe5;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.el-collapse-item {
  border: 1px solid #d1dbe5;
  border-radius: 15px;
  margin-bottom: 30px !important;
}

.el-collapse-item__wrap {
  margin-bottom: 30px;
  padding-top: 10px;
  border-top: 1px solid #d1dbe5;
  background: #fefefe !important;
  border-bottom: none;
}

.el-collapse-item__header {
  background-color: #e8f3fc;
}
.details-save-button {
  float: right;
  margin-right: 5px;
  width: 120px;
  height: 50px;
}

.details-print-button {
  margin-top: -100px;
}

.el-date-editor.el-input {
  width: 100%;
}

.upload-input {
  width: 100%;
  display: inline-block;
  margin-bottom: 6px;
}

.review-desc2 {
  margin-top: -10px;
  font-size: 14px;
  display: inline-block;
}

.review-list {
  margin-bottom: 30px;
}

.details-print-button {
  float: right;
}

.review-consent-text {
  margin-right: 100px;
  margin-bottom: 14px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.upload-button {
  width: 20%;
  display: inline-block;
  float: right;
  text-align: right;
  margin-top: -5px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 14px;
  font-weight: 300;
  color: white;
  background: #1782c5;
  border-color: #1782c5;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  width: 16%;
  border-radius: 5px;
  text-transform: uppercase;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background: #fff;
  color: #1782c5;
  border: 1px solid;
  border-color: #1782c5;
}

.upload-button button {
  width: 95%;
  padding: 11px;
  text-transform: uppercase;
}

.el-upload__tip {
  font-size: 12px;
  color: #8391a5;
  margin-top: 7px;
  position: relative;
  margin-left: -400%;
  text-align: left;
}

.el-select {
  width: 100%;
}

.review-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
}

.review-desc {
  margin-top: 10px;
  font-size: 14px;
  display: inline-block;
}

.review-details {
  display: inline-block;
}

.review-image {
  display: inline-block;
  float: right;
}

.review-image img {
  width: 100%;
  height: auto;
}

.review-edit {
  text-align: right;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  color: #f17f3a;
  text-transform: uppercase;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 1em 0 30px;
}

.applicant-edit2 {
  /*margin-top: -500px;*/
}

.review-edit:hover,
.review-edit:focus {
  color: #2a7fc3;
}

.application-details-ins {
  text-align: right !important;
  vertical-align: middle;
  float: left;
  font-size: 15px;
  color: #48576a;
  line-height: 1;
  padding: 11px 12px 11px 0;
  box-sizing: border-box;
}

.submit-review-button {
  border: 1px solid #3D6CA8;
  width: 112px;
  height: 48px;
  background: #3D6CA8 !important;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #FFFFFF !important;
}

.submit-review-button:hover,
.submit-review-button:focus {
  margin-top: 20px;
  padding: 12px;
  background: #fff;
  color: #2a7fc3;
  border: 1px solid #2a7fc3;
}

.submit-review-button-disabled,
.submit-review-button-disabled:hover,
.submit-review-button-disabled:focus {
  color: #555;
  background-color: #d1dbe5 !important;
  border-color: #d1dbe5 !important;
  cursor: not-allowed;
}

.review-reason {
  margin-top: 15px;
  height: auto;
}

.review-select {
  width: 100%;
  height: 35px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #909399;
  border-radius: 6px;
  height: 44px;
  letter-spacing: 0.03em;
  color: #909399;
  padding: 9px;
}

.logs-list {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  max-height: 400px;
  overflow: scroll;
}

.logs-list li {
  padding-top: 10px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 5px;
  padding-bottom: 5px;
  line-height: 25px;
  color: #333;
}

.applicant--incosistency-wrap {
  margin-left: 10px;
  color: #555;
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: 15px;
  text-transform: capitalize;
  text-align: right;
  padding-right: 12px;
}

.applicant--incosistency-mark {
  margin-left: 10px;
  color: #555;
  margin-top: -20px;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: right;
  padding-right: 12px;
  line-height: 36px;
  position: relative;
  font-size: 14px;
}

.applicant--incosistency-wrap .el-checkbox {
  margin-right: 10px;
}

.applicant-details__inconsistency-messsage-wrap {
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
  background: #f2f6fc;
  margin-top: 20px;
  box-shadow: none;
  border: none;
}

.applicant-details__inconsistency-messsage-wrap>.el-card__header {
  text-transform: none;
  font-weight: 700 !important;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #303133;
  padding: 18px 0px;
}

.applicant-details__inconsistency-messsage-wrap>.el-card__body {
  padding: 20px 0;
}

.applicant-details__inconsistency-message {
  color: #555;
  font-size: 14px;
}

.applicant-details__idNo {
  float: right;
  padding-right: 10px;
}

.applicant--details__kraPin {
  float: right;
  padding-right: 10px;
}

.applicant--details__noPlate {
  float: right;
  padding-right: 10px;
}

.applicant--details__kraPin,
.applicant--details__noPlate,
.applicant-details__idNo,
.applicant--details__insurance {
  width: 300px;
  text-overflow: ellipsis;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

.hidden-hover {
  position: absolute;
  right: 80px;
  margin-top: 35px;
  background-color: #0000004f;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.user-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .applicant-details__profile {
    width: 32%;
  }

  .applicant-details__profile_label {
    font-size: 13px;
  }

  .applicant-details__profile_value {
    font-size: 13px;
  }

  .el-card__body {
    font-size: 13px;
  }

  .el-collapse-item__header {
    font-size: 13px;
  }
}

@media only screen and (max-width: 480px) {
  .applicant-details__profile {
    width: 100%;
  }

  .applicant-details__data {
    width: 100%;
  }

  .el-collapse-item__header {
    height: 55px;
    font-size: 13px;
    line-height: 32px;
  }

  .applicant-details__idNo {
    float: left;
    padding-left: 22px;
    padding-right: 75px;
  }

  .applicant--details__kraPin {
    float: left;
    padding-left: 22px;
  }

  .applicant--details__noPlate {
    float: left;
    padding-left: 22px;
  }

  .applicant--details__kraPin,
  .applicant--details__noPlate,
  .applicant-details__idNo,
  .applicant--details__insurance {
    width: 300px;
    text-overflow: ellipsis;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
  }

  .el-form-item__label {
    text-align: center;
    font-size: 12px;
  }

  .review-details {
    width: 100% !important;
  }

  .el-input {
    float: right;
    width: 95%;
  }

  .el-date-editor {
    float: right;
    width: 95% !important;
  }

  .el-textarea__inner {
    float: right;
    width: 95% !important;
  }

  .el-picker-panel {
    left: 0px !important;
  }

  .applicant-details__profile_label {
    font-size: 12px;
  }

  .applicant-details__profile_value {
    font-size: 12px;
  }

  .applicant-details__back_text {
    font-size: 12px;
  }

  .applicant-details__back_image {
    width: 13px;
  }

  .logs-list {
    font-size: 13px;
  }

  .user-pic {
    height: 25px;
    width: 25px;
    margin-right: 0px;
  }

  .date-popup {
    width: 96% !important;
    margin-left: 2% !important;
  }
}

.el-button.el-button--primary.back-button {
  background: #f2f6fc;
  display: block;
  border-color: #3d6ca8;
  letter-spacing: 0.04em;
  color: #3d6ca8;
  font-size: 14px;
}

.applicant-details__profile_content {
  margin-top: 3em;
}

.applicant-details__application_type {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}

.applicant-details__application_type_value {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: #0f4176;
}

.applicant-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.applicant-details__application_type_identity {
  font-size: 16px;
  line-height: 28px;
  display: flex;
  letter-spacing: 0.02em;
  margin-top: 10px;
}

.applicant-details__application_date {
  font-size: 16px;
  line-height: 28px;
}

.identity-label {
  color: #c0c4cc;
  margin-left: 10px;
}

.text-uppercase {
  text-transform: uppercase;
}

.el-button.el-button--primary.status-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1f4e84;
  background: #c2dcf6;
  border-radius: 116px;
  height: 20px;
  padding: 0px 12px;
  border-color: #c2dcf6;
}

.el-button.el-button--primary.status-button.inconsistent-status {
  background: #e9e3ab;
  color: #786d11;
  border-color: #e9e3ab;
}

.activity-logs>.el-card__header {
  font-weight: 600 !important;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  text-transform: none;
}

.statement-log {
  font-size: 14px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  color: #000000;
}

.statement-time {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #c0c4cc;
}

.applicant-vehicle {
  display: flex;
}

.verification-header {
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.02em;
}

.verification-content>.el-card__body {
  padding: 20px 0;
}

.verification-wrap {
  background: #e8f3fc;
  border-radius: 6px;
  border: none;
}

.verification-wrap>.el-collapse-item__header {
  background: #e8f3fc;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #606266;
  text-transform: none;
}

.applicant-details__data_holder {
  padding: 0 5em;
}

.verification-collapse {
  margin-top: 2em;
}

.verification-wrap>.el-collapse-item__wrap {
  background: #fafdff !important;
  border-top: none;
}

.insurance-label {
  font-size: 16px;
  color: #909399;
}

.insurance-value {
  font-size: 16px;
  color: #212121;
  margin-left: 8px;
}

.insurance-divider {
  border-top: 1px solid #dcdfe6;
}

.insurance-subtitle {
  font-size: 16px;
  color: #909399;
}

.el-collapse-item__header__arrow {
  color: #0e4266;
  font-size: 15px;
}

.upload-btn+label {
  width: 18%;
}

.select-review {
  height: 44px;
  background: #ffffff;
  border: 1px solid #909399;
  box-sizing: border-box;
  border-radius: 6px;
}

.select-review .el-input .el-input__icon {
  color: #3D6CA8;

}

.el-card applicant-details__inconsistency-messsage-wrap>.el-card__header {
  padding: 18px 0;
}