.el-picker-panel__sidebar {
  width: 120px;
}
.download-csv {
  margin-bottom: 10px;
  float: right;
}
.el-table__row {
  cursor: pointer;
  height: 50px;
}

.stageone__filters {
  float: right;
  margin-bottom: 15px !important;
  width: 65% !important;
  display: inline-block !important;
  text-align: right;
  margin-top: -85px;
}

.filter_view {
  min-width: 80px;
  width: auto;
  padding: 12px;
  float: left !important;
  margin-left: 15px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #1e7fc3;
  display: inline-block !important;
}

.filter_action {
  display: inline-block;
  margin-right: 10px;
  width: initial;
}

.date-editor {
  width: 25% !important;
}

.el-date-editor--daterange.el-input {
  width: 220px !important;
}

.el-date-range-picker{
  width: 100px;
}

@media only screen and (max-width: 480px){
  .stageone__filters{
    margin-top: 0px;
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(12, 1fr) !important;
    grid-template-rows: 60px;
  }
  .filter_view{
    grid-column: span 12;
    width: 30%;
    margin-left: 33%;  }
  .mr{
    grid-column: span 5;
    text-align: center;
    font-size: 13px;
  }
  .el-date-editor{
    grid-column: span 7;
  }
  .date-picker-pop-up{
    overflow: auto;
    min-width: 96% !important;
    margin-left: 2%;
  }
  .el-table__body{
    width: 800px !important;
  }
  .el-table__header{
    width: 800px !important;
  }
  .cell{
    font-size: 12px;
  }
  .user-pic{
    height: 25px;
    width: 25px;
    margin-right: 0px;
  }
  .el-submenu__title{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 86% !important;
    float: right;
  }
  .date-popup{
    width: 96% !important;
    margin-left: 2% !important;
  }
}

@media only screen and (max-width: 375px){
  .mr{
    grid-column: span 4;
  }
}

@media only screen and (max-width: 320px){
  .mr{
    grid-column: span 3;
  }
  .el-date-editor{
    grid-column: span 9;
  }
}