/*
    global overides for element-ui styling
*/
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #2a7fc3 !important;
    border-color: #2a7fc3 !important;
}
.el-checkbox__inner:hover {
    border-color: #2a7fc3 !important;
}