/*
    global overides for element-ui styling
*/
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #2a7fc3 !important;
    border-color: #2a7fc3 !important;
}

.el-checkbox__inner:hover {
    border-color: #2a7fc3 !important;
}

.el-card__header {
    font-weight: 400 !important;
    color: #555;
}

.el-collapse-item__header__arrow {
    color: #0E4266;
    font-size: 15px;
}
.select-review .el-input__inner {
    border: none;
    font-family: Sarabun;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.el-input__inner::placeholder {
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #909399 !important;
}