.el-aside.side-navigation {
    width: 100% !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
}

.el-main.main-content {
    width: 100%;
    min-height: 100vh;
}

.el-main.main-holder {
    padding-top: 2px;
    background: #f2f6fc;
}

.login-holder {
    width: 100% !important;
}

.single-view-holder {
    background: #ffffff !important;
    padding-top: 0 !important;
}

.el-container.side-content {
    padding: 20px;
}

.el-card__body>.image-holder {
    text-align: center;
    width: 100%;
    height: 65px;
}

.el-card.images-container {
    border: none;
    box-shadow: none;
}

.images-container>.el-card__body {
    padding: 10px 0;
}

.images-container span {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #606266;
}

.image {
    width: 40px;
    border-radius: 100%;
}

.logo-text {
    padding-top: 4px;
    text-align: left;
}

.nav-header {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #303133;
}

.el-menu-item,
.el-submenu__title {
    padding: 0 !important;
}

.el-menu {
    background: #ffffff !important;
}

.el-submenu .el-menu {
    background-color: #ffffff !important;
}

.nav-text {
    font-size: 14px !important;
    letter-spacing: 0.03em;
    color: #303133 !important;
    height: 56px !important;
    line-height: 50px !important;
}

.el-icon-menu {
    color: #909399 !important;
    font-size: 18px !important;
}

.el-menu-item-group.sub-nav {
    padding-left: 25px;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active,
.el-menu-item.is-active {
    background: #e8f3fc;
    border: 3px solid #e8f3fc !important;
    border-radius: 6px;
    letter-spacing: 0.03em;
    color: #2d5c95 !important;
}

.el-menu.footer-links {
    border-top: 2px solid #ebeef5;
    margin-top: 18em;
    padding-top: 1em;
}

.filter-holder {
    padding: 0 20px 23px 20px;
}

.filter-holder h5 {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #606266;
    margin-top: 25px;
    margin-bottom: 34px;
}

.filter-inputs {
    display: inline-flex;
}
.nav-search input {
    padding: 8px 16px;
    width: 320px;
    height: 40px;
    border: 1px solid #c0c4cc;
    box-sizing: border-box;
    border-radius: 6px;
}