$white: #f7f7f7;
$off-white: darken($white, 10%);

$el-dark-blue: #485771;
// $success: #B8E986;
// $error: #FF909E;
$primary: #1E7FC3;
$secondary: #F57E20;
$success: $primary;
$error: $secondary;

$padding: 12px;
$margin: 15px;